# YBCA EDA

In [4]:
import pandas as pd
import MySQLdb
mysql_cn= MySQLdb.connect(db='o3', user='root')
df_mysql = pd.read_sql('select * from people;', con=mysql_cn)    
print 'loaded dataframe from MySQL. records:', len(df_mysql)
mysql_cn.close()

loaded dataframe from MySQL. records: 88

In [30]:
df_mysql[0:10]

,id,generation,race,natlOrigin,genderID,sexualOrientation,economicPower,politicalViews,physicalAbility,educationLevel,religiousViews,fundamentalism,reproductivePower,lifespan,born,label,tithe
0,1,1,0.0,1.0,14.0,56.0,76.0,82.0,33.0,0.0,90.0,12.0,45.0,67.0,1487285355,test,0
1,2,288,0.0,42.0,70.0,56.0,46.0,47.0,27.0,29.0,17.0,75.0,91.0,4.0,1487458160,Z12,0
2,3,288,0.0,41.0,70.0,91.0,2.0,68.0,99.0,41.0,7.0,75.0,84.0,10.0,1487458264,Z12,0
3,4,288,0.0,80.0,70.0,57.0,2.0,88.0,38.0,35.0,71.0,75.0,24.0,30.0,1487458354,Z12,0
4,5,288,0.0,40.0,70.0,66.0,2.0,2.0,36.0,59.0,14.0,75.0,64.0,87.0,1487458374,Z12,0
5,6,288,10.0,16.0,70.0,86.0,83.0,89.0,88.0,73.0,57.0,51.0,78.0,58.0,1487458499,Z12,1
6,7,288,0.0,94.0,70.0,80.0,11.0,34.0,48.0,5.0,59.0,51.0,21.0,61.0,1487458515,Z12,1
7,8,288,30.0,41.0,70.0,61.0,60.0,68.0,58.0,47.0,30.0,51.0,66.0,50.0,1487458524,Z12,1
8,9,288,30.0,85.0,70.0,82.0,24.0,77.0,96.0,44.0,18.0,51.0,56.0,40.0,1487458734,Z12,1
9,10,289,30.0,49.0,70.0,79.0,13.0,92.0,71.0,45.0,44.0,51.0,52.0,65.0,1487458814,Z12,1

In [10]:
df_mysql.columns

Index([u'id', u'generation', u'race', u'natlOrigin', u'genderID',
       u'sexualOrientation', u'economicPower', u'politicalViews',
       u'physicalAbility', u'educationLevel', u'religiousViews',
       u'fundamentalism', u'reproductivePower', u'lifespan', u'born', u'label',
       u'tithe'],
      dtype='object')

In [18]:
gender = df_mysql['genderID']
orientation = df_mysql['sexualOrientation']
economic = df_mysql['economicPower']

In [25]:
import plotly.plotly as py
import pandas as pd
import numpy as np

cf.set_config_file(offline=False, world_readable=True, theme='ggplot')

gender.iplot(kind='bar', filename='bar-chart-row', title = 'Gender', color = 'blue')

In [26]:
orientation.iplot(kind='bar', filename='bar-chart-row', title = 'Sexual Orientation', color = 'orange')

In [28]:
economic.iplot(kind='bar', filename='bar-chart-row', title = "Economic power")